@import '../../index.css';

.posisiton-modal-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter';
}

.modal-edit {
    width: 900px;
    height: 450px;
    background: #fff;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 135px;
    z-index: 10;
}

.position-close-modal {
    width: 900px;
    height: 10px;
    background: #101010;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px 20px 20px;
}

.close-modal {
    background: transparent;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    font-size: 35px;
    cursor: pointer;
}

.card-txt h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.position-input-modal-edit {
    display: flex;
}

.input-modal-edit {
    height: 50px;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
}

.position-save-modal {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn-save-modal {
    width: 120px;
    height: 50px;
    background-color: #8458FF;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-save-modal:hover {
    color: #000000;
}

.warning {
    color: red;
}